h1 {
    color:#42281c; 
    background:#e7e9e9;
    text-transform: uppercase;
    
}
body {
    background: linear-gradient(to bottom, #e7e9e9, #e8cba8) no-repeat;
    background-size: cover;
    color: #473838;
}
p {
    color: #42281c; 
    background-color: #e8cba8;
    font-weight: bold;
}
q {
    color:#a11d06;
}
a:link {
    color: #cc925d; 
    border-bottom: 1px dashed; 
  }
a {
    text-decoration: none;
}
a:visited {
    color: #806963;
  }
a:hover {
    color: #1e110b; 
    border-bottom: .07em solid;;
  }
a:active {
    color: #a11d06; 
    border-bottom: 1px dashed;
  }
